<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Waredesk Test Suite">
            <directory>./test/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>vendor/</directory>
                <directory>test/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="MOCK" value="1"/>
        <env name="API_URL" value="https://api.waredesk.com"/>
        <env name="CLIENT_ID" value=""/>
        <env name="CLIENT_SECRET" value=""/>
    </php>
</phpunit>
